<div class="verlista">


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sorteo</th>
                <th scope="col">Numero</th>
                <th style="width:400px" scope="col">Mensaje</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        {{#each mensajes}}
        <tbody>
            <tr>
                <th scope="row">{{sorteo}}</th>
                <td>{{participante}}</td>
                <td>{{remitente}} con email: {{mail}}, envio el siguiente mensaje: {{mensaje}}</td>
                <td>
                    <a onclick="return confirm('¿Estas seguro que quieres borrar el mensaje?')"
                        href="/mensajes/delete/{{id}}"><img src="/images/borrar.png"></a>
                </td>

            </tr>

        </tbody>
        {{/each}}

    </table>




</div>